.Container {
    padding: 50px 10%;
    margin: auto;
    display: grid;
    grid-template-columns: 2fr 6fr 3fr;
    background-color: rgb(211, 211, 211);
    border-bottom: 3px solid white;
}

.DetailPhoto{
    padding: 0 20px;
}

.DetailPhoto img{
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}


.Description{
    font-size: 15px;
    text-align: justify;
    margin: 20px auto;
}

.AsideHeader{
    text-transform: uppercase;
    font-weight: bold;
    color: black;
    font-size: 25px;
 
}

select{
    width: 100%;
    height: 30px;
    font-size: 15px;
    cursor: pointer;
    border: none;
   border-radius: 10px;
   padding: 3px;
   font-weight: bold;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
option{
    height: 30px;
    font-size: 15px;
}

.Size>* {
    margin-bottom: 15px;
}

.AddBtn{
    background-color:white;
    width: 100%;
    padding: 3px 6px;
    border: none;
    font-size: 15px;
    height: 30px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    display: flex;
    justify-content: space-between;
 }

.AddBtn:hover{
    color: #fc9c6b;
}

.Thumb img{
    width: 100%;
    cursor: pointer;
}

.ThumbColumn {
    height: 600px;
    overflow: auto;
    padding-right: 5px;
}

 .ThumbColumn::-webkit-scrollbar {
     width: 15px;
 }
 
 .ThumbColumn::-webkit-scrollbar-track {
     -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 

 }
 
 .ThumbColumn::-webkit-scrollbar-thumb {
    background-color: white;
     -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
 }

